.DS_Store
/.idea
.ngnix_def.conf
api/insert_embededs.py
docker-compose.yml
gunicorn/
notebooks/
skill_db_relax_20.json
static/
token_dist.json
backend/extrac_table.ipynb
backend/logs/
backend/qcls
backend/rest_framework/
backend/secrets/
backend/shift_3_womenpp/__pycache__
backend/api/__pycache__/
backend/api/imported_auth_models.py
backend/api/insert_embededs.py
backend/api/migrations/__pycache__/
*.bak
backend/api/old_models.py
backend/csvs_database/
backend/.venv/
backend/Presenation.zip
backend/admin/
backend/.env
.vscode
backend/django_extensions/